<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.phron.nudge</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/terry/.cargo/bin/comes</string>
		<string>nudge</string>
	</array>
	<key>StandardErrorPath</key>
	<string>/Users/terry/logs/comes-nudge.log</string>
	<key>StandardOutPath</key>
	<string>/Users/terry/logs/comes-nudge.log</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>8</integer>
		<key>Minute</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>